:root{--bg: #f9f5d7;
--txt: #3c3836;
--thm: #d79921;}
@media (prefers-color-scheme: dark){:root{--bg:#282828;--txt:#ebdbb2;--thm:#fcca56}}  /*85CB33 for Yellow-Green */
body{background:var(--bg);color:var(--txt);font:1em/1.4em sans-serif;max-width:800px;margin:7% auto auto;padding:0 5% 5% 5%;}
h1,h2{font-size:1.1em}
h3{font-size:1em}
a{color:var(--thm);text-decoration:none}
a:hover{color:var(--thm);background-color:var(--bg);padding-top:3px}
header h1{color:var(--thm);font-size:1.2em;display:inline}
nav{font-weight:bold;display:inline}
ul{line-height:1.4;list-style-position:inside}
li{margin-bottom:5px}
pre{padding:1em;overflow-x:auto}
code{background:var(--thm)}
pre code{background:none}
footer{margin-bottom:15px}
table{border-collapse:collapse; margin-left:auto; margin-right:auto;}
td,th{padding:.7em;border:1px solid}
.admonitionblock{margin:1em}
.admonitionblock .icon, thead{margin-left:1em}
.admonitionblock p{margin:.3em}
.created,.updated{font-weight: bold}
@media(max-width:480px){body{font:1em/1.4em sans-serif}}

